<form id="tableForm" action="/student" method="get">
    <select class="filterdata" data-style="btn-info">
        <optgroup label="Select Table">
            <!-- <option name="" value="0">Select table</option> -->
            <option name="table1" value="studentid">Student ID</option>
            <option name="table2" value="year">Year</option>
            <option name="table3" value="">Table 3</option>
        </optgroup>
    </select>
    <input type="text" name="" placeholder="student id here">
    <input type="submit" value="Get Student Data" />
</form>

<% if(data!=null) { %>
<table border="1">
<tr>
    <th>id</th>
    <th>Student ID </th>
    <th>Name </th>
    <th>Email</th>
    <th>Phone Number </th>
    <th>Address </th>
</tr>
<% data.forEach(function(student){ %>
<tr>
    <!-- <span><%= student%></span> -->
    
    <td><%= student._id%></td>
    <td><%= student.student_id %></td>
    <td><%= student._name%></td>
    <td><%= student._email %></td>
    <td><%= student._phonenumber%></td>
    <td><%= student._address.city%>, <%= student._address.country%></td>
    <td><%= student._marks%></td>
</tr>
<% }) %>
</table>
<% } %>
